body, html {
    display: table;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    background: url("images/bg.jpg"); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.asterisk {
    color: red;
}
.mylabel {
    color: white;
}
.col-content {
    padding: 5px 5px 15px 5px;
    vertical-align: top;
}
.row-content {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 15px 10px 20px 10px;
}
.col-radius {
    border-radius: 8px;
    padding: 15px 5px 20px 5px;
}
.error {
    color: firebrick;
    display: none;
    font-size: 12px;
    font-weight: bold;
}
.dlabel {
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.white {
    color: white;
}
.temp {
    font-size: 36px;
    font-weight: bold;
}
.container-container {
    margin: auto;
    padding: 10px 10px 10px 10px;
}
.rightnow-table > tbody > tr:nth-of-type(even) {
    background-color: #f1dddd;
}
.nexttwentyfour-table > tbody > tr:nth-of-type(even) {
    background-color: #f0f0f0;
}
.table-condensed > tbody > tr:nth-of-type(odd) {
    background-color: #f0f0f0;
}
.nexttwentyfour-table th {
    background-color: #3071a9;
    color: white;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: none;
}
.table-condensed th {
    background-color: #ffffff;
    color: #000000;
}
.row-centered {
    text-align:center;
}
.col-left {
    display: inline-table;
    /* reset the text-align */
    float: none;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: left;
}
.col-centered {
    display: inline-table;
    /* reset the text-align */
    float: none;
    /* inline-block space fix */
/*    margin-right:-4px;*/
    padding: 5px 5px 5px 5px;
    text-align: center;
}
.lab-pad {
    padding: 5px 0;
}
.nextseven-container {
    background-color: #2f3439;
    border-radius: 3px;
    padding: 15px 10px 20px 10px;
}
.modal-caption {
    color: #ffb122;
    font-size: 20px;
}
.modal-day {
    font-size: 20px;
}
.modal-value {
    font-size: 11px;
    padding-top: 5px;
}
.nav-tabs>li>a {
    background-color: #fff;
    color: #3071a9;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #3071a9;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
#map {
    border: solid 2px #FFF;
}
#openlayerlinks {
    background: #575757;
    color: white;
    z-index:1000;
    width: 33%;
    font-size: 1em;
    text-align: left;
    position: absolute;
    bottom: 0.2em;
    left: 0.2em;
    padding: 0px;
    width: 33%;
    /* for IE */
    filter:alpha(opacity=90);
    /* CSS3 standard */
    opacity:0.9;
    border-radius: 4px;
}
.fill {
    width: 100%
}
